<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Processor:</strong>
  <%= @computer.processor %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @computer.storage %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @computer.ram %>
</p>

<p>
  <strong>Size:</strong>
  <%= @computer.size %>
</p>

<%if policy(Computer).create?%>
  <%= link_to 'Edit', edit_computer_path(@computer) %>
<%end%>
<%= link_to 'Back', computers_path %>
