<!DOCTYPE html>
<html>
  <head>
    <title>APIRestRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in?%>
      <h1>Welcome <%= current_user.email%> </h1>
    <%= link_to "Logout", destroy_user_session_path, method: :delete%>
    <%else%>
      <%= link_to "Signed in", new_user_session_path%>
    <%end%>
    <%= yield %>
  </body>
</html>
